{% extends 'smvs/layout.html' %}

{% block body %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% if candidates.count > 0 %}
            <a href="{% url 'index' %}" class="btn btn-secondary mb-4">
                <i class="fa fa-arrow-left"></i> Back
            </a>
            <form method="POST" action="{% url 'createElection' %}" enctype="multipart/form-data" class="card w3-card-4 ">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <label for="id_position">Position:</label>
                        <input type="text" name="position" id="id_position" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Candidates:</label>
                        <br>
                        {% for candidate in candidates %}
                            <div class="form-check">
                                <input type="checkbox" name="candidates" value="{{ candidate.pk }}" class="form-check-input" id="id_candidate_{{ candidate.pk }}">
                                <label class="form-check-label" for="id_candidate_{{ candidate.pk }}">{{ candidate.first_name }} {{ candidate.middle_name }} {{ candidate.last_name }}</label>
                            </div>
                        {% endfor %}
                    </div>    
                    <div class="form-group">
                        <label for="id_startDateTime">Start Date and Time:</label>
                        <input type="datetime-local" name="startDateTime" id="id_startDateTime" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="id_endDateTime">End Date and Time:</label>
                        <input type="datetime-local" name="endDateTime" id="id_endDateTime" required class="form-control">
                    </div>
                    <input type="hidden" value="{{ election.id }}" name="election_id">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <a href="{% url 'createCandidate' %}" class="btn btn-info mt-3">Add Candidate</a>
            {% else %}
            <h1>You have not created any candidates to add to an Election</h1>
            <a href="{% url 'createCandidate' %}" class="btn btn-info mt-3">Add Candidates</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
