{% extends 'smvs/layout.html' %}

{% block body %}

{% if candidates.count > 0 %}
<form method="POST" action="{% url 'createElection' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for="id_position">Position:</label>
        <input type="text" name="position" id="id_position">
    </div>
    <div>
        <label>Candidates:</label>
        <br>
        {% for candidate in candidates %}
            <input type="checkbox" name="candidates" value="{{ candidate.pk }}">
            <label for="id_candidate_{{ candidate.pk }}">{{ candidate.first_name }} {{ candidate.middle_name }} {{ candidate.last_name }}</label>
            <br>
        {% endfor %}
    </div>    
    <div>
        <label for="id_startDateTime">Start Date and Time:</label>
        <input type="datetime-local" name="startDateTime" id="id_startDateTime">
    </div>
    <div>
        <label for="id_endDateTime">End Date and Time:</label>
        <input type="datetime-local" name="endDateTime" id="id_endDateTime">
    </div>
    <input type="hidden" value="{{ election.id }}" name="election_id">
    <input type="submit" value="Submit">
</form>


    <a href="{% url 'createCandidate' %}">
        <input id="createElectionButton" class="btn btn-primary" type="button" value="Add Candidate">
    </a> 

{% else %}
    <h1>You have not created any candidates to add to an Election</h1>
    <a href="{% url 'createCandidate' %}">
        <input id="createElectionButton" class="btn btn-primary" type="button" value="Add Candidates">
    </a>  
{% endif %}

{% endblock %}
