{% extends 'smvs/layout.html' %}

{% block body %}
    {% for election in elections %}
        {% if user.is_authenticated and user.is_superuser %}
        <p class="w3-teal w3-center w3-xxlarge">
            The election id is: {{ election.id }}
        </p>
        {% endif %}
        <div class="container">
            <div class="row mt-5">
                {% for candidate in election.candidates.all %}
                    <div class="col-md-4 mt-5">
                        <div class="card">
                            <div class="card-header bg-info">
                                <h4>Candidate</h4>
                            </div>
                            <div class="card-body ">
                                <img src="{{ candidate.profile_picture.url }}" alt="Profile picture of {{ candidate.first_name }}" width="100%">
                                <div class="mt-4">
                                <p class="card-text d-flex justify-content-center">
                                    <strong class=>Name: {{ candidate.full_name }}</strong>
                                </p>
                                <p class="card-text  d-flex justify-content-center">
                                    <strong>Party: {{ candidate.party_affiliation }}</strong>
                                </p>
                                {% if user.id not in user_votes %}
                                    <form action="{% url 'vote_submit' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="candidate_id" value="{{ candidate.id }}">
                                        <input class="btn btn-primary" id="submitbutton" type="submit" value="Vote">
                                    </form>
                                {% else %}
                                    <h3>You have already Voted</h3>
                                {% endif %}
                                
                            </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <p class="card-text d-flex justify-content-center">
                <strong>Votes: {{ votes}}</strong>
            </p>
        </div>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f8f9fa;
            }
        </style>
    {% endfor %}
{% endblock %}